@import url('https://fonts.googleapis.com/css2?family=Winky+Rough$display=swap');

body{
    font-Family: 'Winky Rough';
    background-color: aquamarine;
    font-weight: normal;
}
.navbar{
    box-shadow: 0 2px 4px rgb(0, 0, 0,0.1);
}

.navbar-brand{
    font-size: 1.8rem;
    font-weight: bold;
}

h1{
    font-size: 2.5rem;
    }